/* Picker styling */
.PickerContainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 90vw;
    margin-bottom: 16px;
    height: inherit;
}
.LogoPicker {
    flex-basis: 60%;
}
.LogoPickerLogo {
    height: inherit;
}
.LogoItemWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.LogoContainer {
    border: 1px solid
    rgba(224, 224, 224, 1);
    min-height: 100px;
}
.LogoContainer:hover {
    background-color: rgba(128, 128, 128, 0);
}
.LogoCell:hover {
    background-color: rgba(128, 128, 128, 0);
}

.LogoPickerImgBtn {
    background-color: transparent;
    border-color: transparent;
}

.LogoPickerImgBtnSelected {
    background-color: aquamarine;
    border-color: transparent;

}
.LogoPickerAddBtn {
    align-content: center;
}

.LogoTable {
    table-layout: fixed;
}

.ColorTable {
    table-layout: fixed;
}

.ColorPicker {
    flex-basis: 60%;
}
.ColorPickerDisabled {
    table-layout: fixed;
    flex-basis: 60%;
    pointer-events: none;
    opacity: 50%;
    z-index: 4;
}
.ColorPickerItem {
    height: inherit;
    padding: 12px;
    text-align: center;
    position: relative;
}
.ColorContainer {
    border: 1px solid
    rgba(224, 224, 224, 1)
}

.EditItemBtn {
    position: absolute;
    right: 0;
    bottom: 0;
}
.DeleteItemBtn {
    position: absolute;
    left: 0;
    top: 0;
}
.ColorPickerItem {

}
.LogoPickerItem {
    display: block;
    max-height: 120px;
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}


.PreviewerWindow {
    display: flex;
    flex-flow: row nowrap;
    width: 85vw;
    height: 65vh;
    margin: auto;
    margin-bottom: 150px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
    
}

.Preview {
    position: absolute;
}

.PlaceholderDiv {
    height: 5vh;
    width: 5vh;
}

/* 3D canvas styling */
.CanvasHolder {
    display: flex;
    flex-basis: 80%;
    
}

Canvas {
    width: 100%;
    height: 100%;
}

/* Preview window buttons styling */
.ButtonPanel {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 20%;
}
.CatalogButton {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 100%;
}
.CatalogIcon {
    flex-basis: 75%;
    margin: auto;
}
.CatalogText {
    flex-basis: 25%;
}
.PresetsButton {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 50%;
}
.PresetsIcon {
    flex-basis: 75%;
    margin: auto;
}
.PresetsText {
    flex-basis: 25%;
}