.ProductsList {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.ProductCard {
    width: 150px;
    text-align: center;
    margin: 0px;
    display: table;
}