.About{
    margin: auto;

}
.Box1{

    margin-top: 2%;
    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    align-content: center;
}

.Box2{
    margin-top: 2%;
    margin-bottom: 10%;

    width: auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2%;
    align-content: center;
}