.CanvasHolder {
    display: flex;
    flex-basis: 80%;
}
Canvas {
    width: 100%;
    height: 100%;
}
.PreviewerWindow {
    display: flex;
    flex-flow: row nowrap;
    width: 65vw;
    height: 65vh;
    margin: auto;
}
.ButtonPanel {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 20%;
}
.CatalogButton {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 50%;
}
.CatalogIcon {
    flex-basis: 75%;
    margin: auto;
}
.CatalogText {
    flex-basis: 25%;
}
.PresetsButton {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: 50%;
}
.PresetsIcon {
    flex-basis: 75%;
    margin: auto;
}
.PresetsText {
    flex-basis: 25%;
}