.PositionsButton {
}
.Container {
    position: relative;
    width: 100%;
    height: auto;
}
.PreviewCanvas {
}
.PositionRadio {
    padding: 4px;
    margin: 4px;
}
.RadioButton {
    margin: 4px;
    margin-left: 20px;
}
.PositionController {
    top:20px;
    left:30px; 
    z-index: 2;
}

.SliderContainer {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 100%;
    display: flex;
    flex-flow: row reverse nowrap;
}

.RotationContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 8px;
}

.SizeContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 8px;
}