.PositionsButton {
    position: absolute;
    left: 10px;
    top: 5vh;
    z-index: 10;
    height: 40px;
    width: 200px;
}
.PreviewCanvas {
    z-index: 0;
}
.PositionRadio {
    padding: 8px;
    margin: 16px;
}
.RadioButton {
    margin: 4px;
    margin-left: 20px;
}